@use "../breakpoints.scss" as breakpoints;

.creditLink {
    color: inherit;
    text-decoration: none;
}

.creditLink:hover {
    text-decoration: underline;
}

@media (max-width: breakpoints.$s) {
    .mobile {
        text-align: center;
    }

    .textStack {
        display: block;
        white-space: nowrap;
    }

    .iconStack {
        flex-direction: row;
        align-items: center;
    }
}
