@use "../breakpoints.scss" as breakpoints;

@media (max-width: breakpoints.$s) {
    .mobile {
        text-align: center;
    }

    .textStack {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--static-space-4);
    }

    .textStack > span {
        display: block;
    }

    .iconStack {
        flex-direction: row;
        align-items: center;
    }
}
